In [1]:
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
football = pd.read_csv('../data/preprocessed/merged_football.csv')

football.dtypes

HomeTeam                      object
AwayTeam                      object
HS                           float64
AS                           float64
HST                          float64
AST                          float64
HF                           float64
AF                           float64
HC                           float64
AC                           float64
HY                           float64
AY                           float64
HR                           float64
AR                           float64
B365H                        float64
B365D                        float64
B365A                        float64
Season                         int64
Squad_Home                     int64
Age_Home                     float64
Foreigners_Home                int64
Total Market Value_Home      float64
Average Market Value_Home    float64
Squad_Away                     int64
Age_Away                     float64
Foreigners_Away                int64
Total Market Value_Away      float64
Average Market Value_Away    float64
ChemHome                     float64
ChemDeltaHome                float64
                              ...
DiffTeam_Huddersfield          int64
DiffTeam_Hull                  int64
DiffTeam_Leicester             int64
DiffTeam_Liverpool             int64
DiffTeam_Man City              int64
DiffTeam_Man United            int64
DiffTeam_Middlesbrough         int64
DiffTeam_Newcastle             int64
DiffTeam_Norwich               int64
DiffTeam_QPR                   int64
DiffTeam_Reading               int64
DiffTeam_Southampton           int64
DiffTeam_Stoke                 int64
DiffTeam_Sunderland            int64
DiffTeam_Swansea               int64
DiffTeam_Tottenham             int64
DiffTeam_Watford               int64
DiffTeam_West Brom             int64
DiffTeam_West Ham              int64
DiffTeam_Wigan                 int64
DiffTeam_Wolves                int64
DiffGoalsFor                 float64
DiffGoalsAgainst             float64
DiffShots                    float64
DiffShotsAgainst             float64
DiffShotsTgt                 float64
DiffShotsTgtAgainst          float64
DiffFKC                      float64
DiffFKW                      float64
Upset                          int64
Length: 406, dtype: object

In [3]:
football.describe()

,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,...,DiffTeam_Wolves,DiffGoalsFor,DiffGoalsAgainst,DiffShots,DiffShotsAgainst,DiffShotsTgt,DiffShotsTgtAgainst,DiffFKC,DiffFKW,Upset
count,3240.000000,3240.000000,3240.000000,3240.000000,3240.000000,3240.000000,3240.000000,3240.000000,3240.000000,3240.000000,...,3240.000000,3240.000000,3240.000000,3240.000000,3240.000000,3240.000000,3240.000000,3240.000000,3240.000000,3240.000000
mean,14.225926,11.290123,5.884568,4.683951,10.554321,11.038580,6.022531,4.766358,1.487037,1.766049,...,0.000000,0.261728,-0.154938,1.662037,-1.527778,0.750000,-0.583951,-0.314815,0.213889,0.486728
std,5.514432,4.688615,3.393546,2.854091,3.351878,3.520249,3.133214,2.732498,1.199652,1.284801,...,0.172159,14.517899,11.221509,75.763984,75.048066,40.654583,33.313841,33.115219,35.384514,0.499901
min,1.000000,0.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,-1.000000,-69.000000,-44.000000,-296.000000,-353.000000,-200.000000,-160.000000,-140.000000,-154.000000,0.000000
25%,10.000000,8.000000,3.000000,3.000000,8.000000,9.000000,4.000000,3.000000,1.000000,1.000000,...,0.000000,-7.000000,-6.000000,-35.000000,-39.000000,-19.000000,-16.000000,-19.000000,-18.000000,0.000000
50%,14.000000,11.000000,5.000000,4.000000,10.000000,11.000000,6.000000,4.000000,1.000000,2.000000,...,0.000000,0.000000,0.000000,1.500000,-1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
75%,17.000000,14.000000,8.000000,6.000000,13.000000,13.000000,8.000000,6.000000,2.000000,3.000000,...,0.000000,7.000000,6.000000,39.000000,36.000000,20.000000,15.000000,18.000000,18.000000,1.000000
max,43.000000,30.000000,24.000000,20.000000,24.000000,26.000000,19.000000,19.000000,7.000000,9.000000,...,1.000000,75.000000,54.000000,321.000000,328.000000,177.000000,173.000000,145.000000,166.000000,1.000000

In [4]:
football[football.isna().any(axis=1)]

Empty DataFrame
Columns: [HomeTeam, AwayTeam, HS, AS, HST, AST, HF, AF, HC, AC, HY, AY, HR, AR, B365H, B365D, B365A, Season, Squad_Home, Age_Home, Foreigners_Home, Total Market Value_Home, Average Market Value_Home, Squad_Away, Age_Away, Foreigners_Away, Total Market Value_Away, Average Market Value_Away, ChemHome, ChemDeltaHome, MeanXPHome, MedianXPHome, 75thPctXPHome, 25thPctXPHome, MinXPHome, MaxXPHome, MeanOvrHome, MedianOvrHome, 75thPctOvrHome, 25thPctOvrHome, MinOvrHome, MaxOvrHome, MeanPotHome, MedianPotHome, 75thPctPotHome, 25thPctPotHome, MinPotHome, MaxPotHome, MeanIntlRepHome, MedianIntlRepHome, 75thPctIntlRepHome, 25thPctIntlRepHome, MinIntlRepHome, MaxIntlRepHome, MeanAgeHome, MedianAgeHome, 75thPctAgeHome, 25thPctAgeHome, MinAgeHome, MaxAgeHome, MeanHeightHome, MedianHeightHome, 75thPctHeightHome, 25thPctHeightHome, MinHeightHome, MaxHeightHome, MeanWeightHome, MedianWeightHome, 75thPctWeightHome, 25thPctWeightHome, MinWeightHome, MaxWeightHome, ChemAway, ChemDeltaAway, MeanXPAway, MedianXPAway, 75thPctXPAway, 25thPctXPAway, MinXPAway, MaxXPAway, MeanOvrAway, MedianOvrAway, 75thPctOvrAway, 25thPctOvrAway, MinOvrAway, MaxOvrAway, MeanPotAway, MedianPotAway, 75thPctPotAway, 25thPctPotAway, MinPotAway, MaxPotAway, MeanIntlRepAway, MedianIntlRepAway, 75thPctIntlRepAway, 25thPctIntlRepAway, MinIntlRepAway, MaxIntlRepAway, MeanAgeAway, MedianAgeAway, ...]
Index: []

[0 rows x 406 columns]